nav {
  background-color: #566282;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  padding: 1%;
}

.home {
  padding: 2%;
}

.about {
  padding: 2%;
}

.all {
  padding: 2%;
}
