.user-bar {
  margin-top: 1%;
  color: #566282;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  padding: 1%;
  text-align: right;
}

.new-button {
  margin-top: 1%;
  border: 2pt solid #566282;
  padding: 0.5%;
}

.all-button {
  margin: 1%;
  border: 2pt solid #566282;
  padding: 0.5%;
}
